<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import JournalEntryCard from "../components/JournalEntryCard.vue";
import journalService from "../../application/backend/data/JournalService";
import { Button } from "iview";

@Component({
  components: {
    JournalEntryCard,
    Button
  }
})
export default class JournalEntriesContainer extends Vue {
  @Prop() journalEntryFormOpen: boolean;
  @Prop() setJournalEntryFormOpen: any;
  private journalEntries: any[];

  constructor() {
    super();
    this.journalEntries = [
      { title: "title", subtitle: "subtitle", text: "text" },
      { title: "title", subtitle: "subtitle", text: "text" },
      { title: "title", subtitle: "subtitle", text: "text" },
      { title: "title", subtitle: "subtitle", text: "text" },
      { title: "title", subtitle: "subtitle", text: "text" }
    ];
  }

  updateJournalEntries() {
    this.journalEntries = [];
    //this.
  }

  created() {
    //this.getJournalEntries();
  }

  getJournalEntries() {
    // this.journalEntries = [];
    // return journalService
    //   .getAllJournalEntries()
    //   .then(response => (this.journalEntries = response.data.results));
  }
}
</script>

<style scoped>
#journalEntriesContainer {
  display: flex;
  flex-direction: column;
}
#fab {
  position: fixed;
  bottom: 4%;
  right: 4%;
  z-index: 999;
}
</style>

<template>
  <div>
    <div id="journalEntriesContainer">
      <div v-for="journalEntry in journalEntries" :key="journalEntry.id">
        <JournalEntryCard
          :title="journalEntry.title"
          :subtitle="journalEntry.subtitle"
          :text="journalEntry.text"
        />
      </div>
    </div>
    <Button
      id="fab"
      v-if="!journalEntryFormOpen"
      v-on:click="setJournalEntryFormOpen"
      type="primary"
      shape="circle"
      icon="md-add"
    ></Button>
    <Button
      id="fab"
      v-if="journalEntryFormOpen"
      v-on:click="setJournalEntryFormOpen"
      type="primary"
      shape="circle"
      icon="md-remove"
    ></Button>
  </div>
</template>