<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Button, Card, Icon, Badge } from "iview";

@Component({
  components: { Button, Card, Icon, Badge }
})
export default class JournalEntryCard extends Vue {
  //   @Prop() private identifier!: number;
  @Prop() private title!: string;
  @Prop() private subtitle!: string;
  @Prop() private text!: string;
  private createdAt?: Date;
  private updatedAt?: Date;

  constructor() {
    super();
  }

  deleteJournalEntry() {
    //journalService.delete
    //this.props.updateJournalEntries
  }

  created() {
    this.getJournalEntry();
  }

  getJournalEntry() {
    // return journalService
    //   .getJournalEntry(this.identifier)
    //   .then(
    //     response => (
    //       (this.title = response.data.title),
    //       (this.subtitle = response.data.subtitle),
    //       (this.text = response.data.text)
    //     )
    //   );
  }
}
</script>

<style scoped>
#card {
  margin: 10px;
}
#cardHeadContent {
  display: flex;
}
#cardMediaContent {
  width: 80%;
  height: 50px;
  border-radius: 10px;
  margin: auto;
  background-color: lightblue;
  opacity: 0.3;
}
</style>

<template>
  <Card id="card">
    <div id="cardHeadContent">
      <h3>{{title}}</h3>
    </div>
    <div id="cardMediaContent"></div>
    <div id="cardContent">
      <p>{{subtitle}}</p>
      <p>{{text}}</p>
    </div>
  </Card>
</template>