<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import JournalPage from "./view/pages/JournalPage.vue";
import Navbar from "./view/containers/Navbar.vue";
import LoginPage from "./view/pages/LoginPage.vue";

@Component({
  components: {
    JournalPage,
    LoginPage,
    Navbar
  }
})
export default class App extends Vue {
  private currentUser: any;
  private loggedIn: boolean;
  private currentPage: string;

  constructor() {
    super();
    this.currentUser = {name: '', email: '', password: ''};
    this.loggedIn = false;
    this.currentPage = "loginPage";
  }

  setCurrentPage(page: string) {
    this.currentPage = page;
  }

  updateCurrentUser(user:object){
    this.currentUser = user;
    console.log(this.currentUser);
    this.loggedIn = true;
  }
}
</script>

<style>
</style>

<template>
  <div>
    <Navbar :loggedIn="loggedIn" :setCurrentPage="setCurrentPage" />
    <LoginPage :loggedIn="loggedIn" :updateCurrentUser="updateCurrentUser" v-if="currentPage === 'loginPage'" />
    <JournalPage v-if="currentPage === 'journalPage'" />
  </div>
</template>
