<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Button, Card, Icon, Form, FormItem, Input } from "iview";

@Component({
  components: { Button, Card, Icon, Form, FormItem, Input }
})
export default class JournalEntryForm extends Vue {
  @Prop() private setJournalEntryFormOpen!: boolean;
  @Prop() private currentJournalEntry: any;
  private title: string;
  private subtitle: string;
  private text: string;

  private rules: object;

  constructor() {
    super();
    this.title = "";
    this.subtitle = "";
    this.text = "";
    this.rules = {
      title: [
        {
          required: false,
          message: "Please fill in the title",
          trigger: "blur"
        }
      ],
      subtitle: [
        {
          required: false,
          message: "Please fill in the subtitle",
          trigger: "blur"
        }
      ],
      text: [
        {
          required: false,
          message: "Please fill in the text.",
          trigger: "blur"
        },
        {
          type: "string",
          min: 10,
          message: "The text length cannot be less than 6 bits",
          trigger: "blur"
        }
      ]
    };
  }

  created() {
    // this.getJournalEntry();
  }

  updateJournalEntry() {
    //journalService.update
    //this.props.updateJournalEntries
  }
  submitJournalEntry() {
    //journalService.add/create
    console.log("pseudo submitted journal entry yo");
    //this.props.updateJournalEntries
  }
}
</script>

<style scoped>
#container {
  margin: 10px;
  width: 400px;
  position: fixed;
  z-index: 9999;
  bottom: 8%;
  right: 8%;
}
#cardHeadContent {
  height: 40px;
}
#textArea {
  width: 300px;
}
</style>

<template>
  <Card id="container">
    <div id="cardHeadContent"></div>
    <Form :rules="rules" inline>
      <FormItem label="Title" prop="title">
        <Input type="text" v-model="title" placeholder="Title" />
      </FormItem>
      <FormItem label="Subtitle" prop="subtitle">
        <Input type="text" v-model="subtitle" placeholder="Subtitle" />
      </FormItem>
      <FormItem label="Text" prop="text">
        <Input
          id="textArea"
          v-model="text"
          type="textarea"
          :autosize="{minRows: 4,maxRows: 5}"
          placeholder="Enter something..."
        />
      </FormItem>
      <FormItem>
        <Button type="primary" @click="submitJournalEntry()">Create</Button>
        <Button @click="setJournalEntryFormOpen()" style="margin-left: 8px">Cancel</Button>
      </FormItem>
    </Form>
  </Card>
</template>