<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Button, Card, Icon, Form, FormItem, Input } from "iview";

@Component({
  components: { Button, Card, Icon, Form, FormItem, Input }
})
export default class LoginForm extends Vue {
  @Prop() private updateCurrentUser: any;
  private name: string;
  private email: string;
  private password: string;

  private rules: any;

  constructor() {
    super();
    this.name = "";
    this.email = "";
    this.password = "";
    this.rules = {
      name: [
        {
          required: false,
          message: "Please fill in the user name",
          trigger: "blur"
        }
      ],
      email: [
        {
          required: false,
          message: "Please fill in the email",
          trigger: "blur"
        }
      ],
      password: [
        {
          required: false,
          message: "Please fill in the password.",
          trigger: "blur"
        },
        {
          type: "string",
          min: 6,
          message: "The password length cannot be less than 6 bits",
          trigger: "blur"
        }
      ]
    };
  }

  created() {
    // this.getJournalEntry();
  }
}
</script>

<style scoped>
#container {
  margin: 10px;
}
#cardHeadContent {
  height: 40px;
}
</style>

<template>
  <Card id="container">
    <div id="cardHeadContent"></div>
    <Form :rules="rules" inline>
      <FormItem prop="name">
        <Input type="text" v-model="name" placeholder="Username">
          <Icon type="ios-person-outline" slot="prepend"></Icon>
        </Input>
      </FormItem>
      <FormItem prop="email">
        <Input type="email" v-model="email" placeholder="Email">
          <Icon type="ios-mail-outline" slot="prepend"></Icon>
        </Input>
      </FormItem>
      <FormItem prop="password">
        <Input type="password" v-model="password" placeholder="Password">
          <Icon type="ios-lock-outline" slot="prepend"></Icon>
        </Input>
      </FormItem>
      <FormItem>
        <Button
          type="primary"
          @click="updateCurrentUser({name: `${name}`, email: `${email}`, password: `${password}`})"
        >Login</Button>
      </FormItem>
    </Form>
  </Card>
</template>