<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import JournalEntriesContainer from "../containers/JournalEntriesContainer.vue";
import JournalEntryForm from "../components/forms/JournalEntryForm.vue";

import {
  Menu,
  MenuItem,
  Icon,
  Layout,
  Header,
  Content,
  Footer,
  Button
} from "iview";

@Component({
  components: {
    Menu,
    MenuItem,
    Icon,
    Layout,
    Header,
    Content,
    Footer,
    Button,
    JournalEntriesContainer,
    JournalEntryForm
  }
})
export default class JournalPage extends Vue {
  private journalEntryFormOpen: boolean;
  private currentView: string;

  constructor() {
    super();
    this.journalEntryFormOpen = false;
    this.currentView = "journalEntries";
  }

  setJournalEntryFormOpen() {
    this.journalEntryFormOpen = !this.journalEntryFormOpen;
  }
}
</script>

<style scoped>
h1 {
  margin-left: 45%;
}
#header {
  background-color: white;
}
#dashboard {
  margin: 15%;
  margin-top: 10px;
  min-height: 350px;
}
#menu {
  width: 100%;
}
</style>

<template>
  <div>
    <Layout>
      <Header id="header">
        <h1>Journal</h1>
      </Header>
      <Content>
        <div id="dashboard">
          <Menu id="menu" active-name="1" mode="horizontal">
            <MenuItem name="1">
              <div v-on:click="currentView = 'journalEntries'">
              Entries</div>
            </MenuItem>
          </Menu>
          <JournalEntriesContainer :journalEntryFormOpen="journalEntryFormOpen" :setJournalEntryFormOpen="setJournalEntryFormOpen" v-if="currentView === 'journalEntries'" />
        </div>
        <JournalEntryForm :setJournalEntryFormOpen="setJournalEntryFormOpen" v-if="journalEntryFormOpen"/>
      </Content>
    </Layout>
  </div>
</template>
