<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import LoginForm from "../components/forms/LoginForm.vue";
import { Layout, Header, Content, Footer, Button } from "iview";

@Component({
  components: {
    Layout,
    Header,
    Content,
    Footer,
    LoginForm,
    Button
  }
})
export default class LoginPage extends Vue {
  @Prop() private updateCurrentUser: any;
  @Prop() private loggedIn!: boolean;
  private currentView: string;

  constructor() {
    super();
    this.currentView = "home";
  }
}
</script>

<style scoped>
h1 {
  margin-left: 45%;
}
#header {
  background-color: white;
}
#dashboard {
  margin: 15%;
  margin-top: 10px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
}
#menu {
  width: 100%;
}
#logoutButton{
  max-width: 100px;
  margin: 10px;
}
</style>

<template>
  <div>
    <Layout>
      <Header id="header">
        <h1>Login</h1>
      </Header>
      <Content>
        <div id="dashboard">
          <LoginForm :updateCurrentUser="updateCurrentUser" />
         <Button id="logoutButton" v-if="loggedIn === true" type="warning" ghost>Logout</Button>
        </div>
      </Content>
    </Layout>
  </div>
</template>
